<?xml version="1.0" encoding="utf-8"?>
<LanguageData>
  <CE_Tweaks_SettingsCategory>Combat Extended 조정</CE_Tweaks_SettingsCategory>
  <CE_Tweaks_EnableOverpressure_Label>폭압 활성화</CE_Tweaks_EnableOverpressure_Label>
  <CE_Tweaks_EnableOverpressure_Tooltip>Combat Extended 폭발에 폭압 효과를 적용합니다.</CE_Tweaks_EnableOverpressure_Tooltip>
  <CE_Tweaks_EnableAutocannonExplosions_Label>기관포 폭발 활성화</CE_Tweaks_EnableAutocannonExplosions_Label>
  <CE_Tweaks_EnableAutocannonExplosions_Tooltip>선택된 기관포 AP-HE 발사체에 추가된 폭발 효과를 활성화합니다.</CE_Tweaks_EnableAutocannonExplosions_Tooltip>
  <CE_Tweaks_EnableLogging_Label>디버그 기록 활성화</CE_Tweaks_EnableLogging_Label>
  <CE_Tweaks_EnableLogging_Tooltip>폭압 이벤트를 콘솔에 기록합니다.</CE_Tweaks_EnableLogging_Tooltip>
</LanguageData>
